In [113]:
import pandas as pd
import os

# Define a function to extract semester and year from file name
def extract_semester_year(filename):
    parts = filename.split('.')

    semester = parts[0][-4:-2].upper() 
    year = int('20'+parts[0][-2:])       
    return semester, year

# Create an empty list to store dataframes
dfs = []

# Iterate through each file in the directory
for filename in os.listdir('./data'):
    # Read the CSV file into a dataframe
    df = pd.read_csv(f'./data/{filename}')
    # Extract semester and year from filename
    semester, year = extract_semester_year(filename)
    # Add semester and year columns to dataframe
    df['Semester'] = semester
    df['Year'] = year
    # Append the modified dataframe to the list
    dfs.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)

# Merge columns related to location, instructor, credits, notes, section #
combined_df['Location'] = combined_df['Location'].fillna(combined_df['Location: MAC\n(unless noted\notherwise)']).fillna(combined_df['Location: MAC\r\n(unless noted\r\notherwise)']).fillna(combined_df['Location: MAC\n(unless noted otherwise)']).fillna(combined_df['Location for Instr Delivery or Staging of Materials'])
combined_df['Instructors'] = combined_df['Instructor / Teaching Team'].fillna(combined_df['Instructor'])
combined_df['Credits'] = combined_df['Credits'].fillna(combined_df['Credit s'])
combined_df['Degree Requirement Note'] = combined_df['Degree Requirement Note'].fillna(combined_df['Unnamed: 11']).fillna(combined_df['Unnamed: 12']).fillna(combined_df['Unnamed: 13']).fillna(combined_df['Curriculum Role'])
combined_df['Section #'] = combined_df['Section #'].fillna(combined_df['Sect #']).fillna(combined_df['Sec #'])
'Notes', 'Curriculum Category', 'Degree Requirement Note', 'Registration Notes', 'Curriculum Notes'

# Drop unnecessary columns
combined_df.drop(columns=["Location: MAC\n(unless noted\notherwise)", "Location: MAC\r\n(unless noted\r\notherwise)", "Location: MAC\n(unless noted otherwise)", "Location for Instr Delivery or Staging of Materials", "Instructor / Teaching Team", "Instructor", "Credit s", 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Curriculum Role', 'Sect #', 'Sec #'], inplace=True)

# Reorder the columns
combined_df = combined_df[['Semester', 'Year', 'Area', 'Course #', 'Course Title', 'Time', 'Location', 'Credits', 'Enroll Limits', 'Instructors', 'Section #', 'Waitlist', 'Notes', 'Curriculum Category', 'Degree Requirement Note', 'Registration Notes', 'Curriculum Notes', 'Delivery Mode']]

# Write the combined dataframe to a CSV file
# combined_df.to_csv('combined_schedule.csv', index=False)

In [123]:
column = 'Curriculum Notes'
print(combined_df[combined_df[column].notnull()][column])

899     required if planning on a Capstone\nproject in...
902     Available for Design Depth or Upper Level Bio;...
903                           required for all sophomores
904                           required for all sophomores
905                           required for all sophomores
                              ...
1178                         optional Physics\nFoundation
1179    Advanced Biology or Prob Stat Designated\nAlte...
1180                                       general credit
1181                                       general credit
1182    required for international student with intern...
Name: Curriculum Notes, Length: 180, dtype: object

In [115]:
num_missing = len(combined_df) - combined_df.count()
print(num_missing)
# combined_df["Location"].value_counts(dropna = False) # 결측치 개수도 알려줌

Semester                      0
Year                          0
Area                        143
Course #                     10
Course Title                 11
Time                         73
Location                    168
Credits                      22
Enroll Limits                85
Instructors                  17
Waitlist                    688
Notes                       794
Curriculum Category         857
Delivery Mode              1149
Section #                    10
Degree Requirement Note    1017
Registration Notes         1089
Curriculum Notes           1066
dtype: int64

In [117]:
combined_df.head()

,Semester,Year,Area,Course #,Course Title,Time,Location,Credits,Enroll Limits,Instructors,Waitlist,Notes,Curriculum Category,Delivery Mode,Section #,Degree Requirement Note,Registration Notes,Curriculum Notes
0,FA,2019,AHS,AHSE0112,AHSE0112: The Olin Conductorless Orchestra,T 7:30pm-9:00pm; R 6:30-9:00pm,AC318,1,26,"Dabby, Diana","yes, small",NaN,AHS Elective,NaN,01,NaN,NaN,NaN
1,FA,2019,AHS,AHSE2170,AHSE2170: Teaching and Learning in Undergradua...,T 12:50-3:15pm; T 6:30pm-7:15pm,"CC209, 211\r\nCrescent Room",4,15,"Zastavker, Yevgeniya; Burger, Jordyn","yes, large",NaN,AHS Elective,NaN,01,NaN,NaN,NaN
2,FA,2019,AHS,AHSE2170,AHSE2170: Teaching and Learning in Undergradua...,T 12:50-3:15pm; W 6:30pm-7:15pm,"CC209, 211\r\nCrescent Room",4,15,"Zastavker, Yevgeniya; Burger, Jordyn","yes, large",NaN,AHS Elective,NaN,02,NaN,NaN,NaN
3,FA,2019,AHS,AHSE3130,AHSE3130: Advanced Digital Photography,TF 1:30-3:10pm,AC313,4,12,"Donis-Keller, Helen","yes, small",NaN,AHS Elective,NaN,01,NaN,NaN,NaN
4,FA,2019,AHS,AHSE3190,"AHSE3190: Arts, Humanities, Social Science Pre...",NaN,NaN,1,50,"Epstein, Gillian",NaN,NaN,AHS Capstone Prereq,NaN,01,NaN,NaN,NaN